@font-face {
  font-family: "Cormorant-LightItalic";
  src: url(../fonts/Cormorant-LightItalic.ttf);
}
@font-face {
  font-family: "Cormorant-Regular";
  src: url(../fonts/Cormorant-Regular.ttf);
}
@font-face {
  font-family: "IMFell";
  src: url(../fonts/IMFellGreatPrimerSC-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1232px;
  margin-inline: auto;
  padding-inline: 16px;
}

.section {
  padding-block: 150px;
}

.section-heading {
  font-family: Cormorant-Regular;
  color: #151618;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
  margin-bottom: 60px;
}

.h3-title {
  font-family: Cormorant-Regular;
  color: #151618;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}

.h3-title.max-width {
  max-width: 252px;
}

.header-svg {
  width: 22px;
  height: 22px;
  fill: #151618;
  transition: 0.4s;
}
.header-svg:hover {
  fill: #76ab28;
}

.header {
  margin-block: 30px 28px;
  padding-bottom: 37px;
  color: #151618;
}
.header__logo-link {
  display: block;
  font-family: IMFell;
  font-size: 18px;
  line-height: 22px;
}
.header__logo-img {
  display: block;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 65px;
  margin-bottom: 21px;
}
.header__link {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 1.36;
  transition: 0.4s;
}
.header__link:hover {
  color: #76ab28;
}
.header__user-bar {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 21px;
}
.header__user-bar-login {
  display: flex;
  gap: 20px;
}
.header__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hero-section {
  font-family: Cormorant-Regular;
  color: #fff;
  padding: 254px 0 48px;
}
.hero-section__bg {
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 71vh;
  position: relative;
}
.hero-section__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000000 97.4%);
}
.hero-section__content {
  position: relative;
  z-index: 999;
}
.hero-section__title {
  max-width: 790px;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 20px;
}
.hero-section__description {
  max-width: 560px;
  font-size: 24px;
  line-height: 1.2;
}

.section-collection__quotes {
  position: relative;
  font-family: Cormorant-LightItalic;
  color: #151618;
  max-width: 705px;
  font-size: 40px;
  line-height: 1.125;
  text-align: center;
  margin: 0 auto 150px;
  quotes: none;
}
.section-collection__quotes::before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -40px;
  z-index: -1;
  width: 360px;
  height: 61px;
  background-color: #F7F2EA;
}
.section-collection__cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.section-collection__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.section-collection__card:hover {
  transform: scale(1.1);
}

.feedback {
  padding-block: 60px;
  background-color: #F7F2EA;
  color: #151618;
}
.feedback__block {
  display: flex;
  gap: 26px;
}
.feedback__article {
  flex: 0 1 280px;
}
.feedback__text {
  font-family: OpenSans-LightItalic;
  font-weight: 300;
  line-height: 1.375;
  margin-bottom: 10px;
}
.feedback__username {
  font-family: OpenSans-SemiBold;
  font-size: 20px;
  line-height: 1.35;
}

.blog__width-wrapper {
  width: 95%;
}
.blog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 20px;
  margin-bottom: 60px;
}
.blog__item {
  flex: 0 1 542px;
}
.blog__article {
  display: flex;
  gap: 20px;
  color: #151618;
}
.blog__img {
  display: block;
  width: 50%;
}
.blog__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.blog__label {
  font-family: OpenSans-Light;
  font-size: 13px;
  line-height: 1.36;
}
.blog__read-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.5s;
}
.blog__read-link:hover {
  color: #76ab28;
  gap: 14px;
}
.blog__read-link:hover .blog__read-icon {
  fill: #76ab28;
}
.blog__read-icon {
  width: 5px;
  height: 10px;
  fill: #151618;
  transition: 0.5s;
}
.blog__view-wrapper {
  text-align: center;
}
.blog__view-link {
  display: inline-block;
  text-align: center;
  padding: 12px 41px;
  border: 1px solid #151618;
  color: #151618;
  font-family: OpenSans-Light;
  font-size: 20px;
  line-height: 1.35;
  transition: 0.3s;
}
.blog__view-link:hover {
  background-color: #76ab28;
  color: #fff;
  border-color: #76ab28;
}

.form-section {
  position: relative;
  font-family: OpenSans-Light;
  background-color: #F7F2EA;
  padding-block: 100px;
}
.form-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 673px;
  height: 418px;
  background-image: url(../images/form-background.png);
}
.form-section__heding {
  text-align: left;
  margin-bottom: 50px;
}
.form-section__inner {
  display: flex;
  gap: 40px;
}
.form-section__text {
  max-width: 580px;
  font-size: 20px;
  line-height: 1.5;
}
.form-section__form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form-section__form-block {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
.form-section__input-email {
  width: 100%;
  font-size: 20px;
  color: #B8B58B;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #B8B58B;
  padding: 3px;
}
.form-section__input-email::placeholder {
  font-size: 20px;
  line-height: 1.5;
  color: #B8B58B;
}
.form-section__input-button {
  padding: 12px 41px;
  border: 1px solid #151618;
  font-size: 20px;
  line-height: 27.25px;
  cursor: pointer;
  transition: 0.3s;
}
.form-section__input-button:hover {
  color: #fff;
  background-color: #76ab28;
  border-color: #76ab28;
}
.form-section__subscription-block {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

/*# sourceMappingURL=style.css.map */
