$color-darkText: #151618;
$color-lightText: #fff;
$color-background-light: #F7F2EA;
$color-hover: #76ab28;

$font-Cormorant-LightItalic: Cormorant-LightItalic;
$font-Cormorant-Regular: Cormorant-Regular;
$font-IMFell: IMFell;
$font-OpenSans-Light: OpenSans-Light;
$font-OpenSans-LightItalic: OpenSans-LightItalic;
$font-OpenSans-Regular: OpenSans-Regular;
$font-OpenSans-SemiBold: OpenSans-SemiBold;