.header {
  margin-block: 30px;
  padding-bottom: 37px;
  color: $color-darkText;

  @media (max-width:1000px) {
    padding-bottom: 0;
  }

  @media (max-width:600px) {
    margin-block: 10px;
  }

  &__mobil-menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (max-width:800px) {
      display: inline-block;
      flex: 1 1 0;
    }
  }

  &__menu-line {
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 6px;
    background-color: $color-darkText
  }

  &__logo {

    &-img {
      display: block;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width:800px) {
      align-items: center;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 65px;
    margin-bottom: 21px;

    @media (max-width:800px) {
      display: none;
    }
  }

  &__link {
    font-family: $font-OpenSans-Regular;
    font-size: 18px;
    line-height: 1.36;
    transition: .4s;

    &:hover {
      color: $color-hover;
    }
  }

  &__user-bar {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 21px;

    @media (max-width:1000px) {
      gap: 50px;
    }

    @media (max-width:800px) {
      justify-content: flex-end;
      flex: 1 1 0;
      margin-bottom: 0;
    }

    @media (max-width:500px) {
      gap: 20px;
    }
  }

  &__user-bar-login {
    display: flex;
    gap: 20px;
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}